<div id="search-component">
  <h4><label for="search-box">Pilot Search</label></h4>

  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let pilot of pilots$ | async" (click)="goToPilot(pilot.ucid)">
      {{pilot.name}}
      <ul class="aliases" *ngIf="isSearching">
        <li *ngFor="let alias of pilot.aliases">{{alias}}</li>
      </ul>
    </li>
  </ul>

  <ul *ngIf="!initialSearched" class="allPilots">
    <p *ngIf="allPilots.length === 0">Retrieving Pilots, one sec!</p>
    <li *ngFor="let pilot of allPilots" (click)="goToPilot(pilot.ucid)">{{pilot.name}}</li>
  </ul>
</div>
