a {
  font-weight: 600;
  color: black;
}

.killsLeaderBoard, .flightTimeLeaderBoard {
  display: table;
}

.killsLeadersList, .flightTimeList {
  display: table-row;
}

.index {
  text-align: right;
}

.index, .pilotName, .statValue {
  display: table-cell;
  padding: 0 5px;
}

button {
  margin-top: 10px;
}
