<h3>Kills</h3>
<div class="killsLeaderBoard">
  <div class="killsLeadersList" *ngFor="let pilot of killsLeaders | slice:0:killsLeadersToShow; let i = index">
    <div class="index">{{i + 1}}.</div>
    <div class="pilotName"><a href="/pilot/{{pilot.player.uID}}">{{pilot.player.name}}</a></div>
    <div class="statValue">{{pilot.kills.killsTotal}}</div>
  </div>
</div>
<button (click)="toggleMoreKills()">Show {{killShowMoreBtnTxt}}</button>
<br>
<br>

<h3>Flight Time</h3>
<div class="flightTimeLeaderBoard">
  <div class="flightTimeList" *ngFor="let pilot of flightTimeLeaders | slice:0:flightLeadersToShow; let i = index">
    <div class="index">{{i + 1}}.</div>
    <div class="pilotName"><a href="/pilot/{{pilot.player.uID}}">{{pilot.player.name}}</a></div>
    <div class="statValue">{{pilot.aircraft.flightTimeTotal | secondsToTime}}</div>
  </div>
</div>
<button (click)="toggleMoreAircraftLeaders()">Show {{aircraftShowMoreBtnTxt}}</button>

<!--<h3>Shots Fired</h3>-->

