<h1>{{title}}</h1><br>

<nav class="navbar-text">
  <a routerLink="pilots">Pilots</a> | <a routerLink="totals">Totals</a> | <a routerLink="leaderboards">Top Pilots</a>
</nav><br>

<router-outlet></router-outlet>
