<h3>Players</h3>
<p>Total Players: {{playerDataTotals.totalPlayers}}</p>

<h3>Losses</h3><button type="button" value="hide" (click)="toggleLosses()">{{lossesButton}}</button>
<table *ngIf="showLosses">
  <tr *ngFor="let lossStat of playerDataTotals.lossesTotalsKeys">
    <td>{{lossStat}}</td>
    <td>{{playerDataTotals.lossesTotals[lossStat]}}</td>
  </tr>
</table>

<h3>Aircraft</h3><button type="button" value="hide" (click)="toggleAircraft()">{{aircraftButton}}</button>
<table *ngIf="showAircraft">
  <tr *ngFor="let aircraftStat of playerDataTotals.aircraftTotalsKeys">
    <td>{{aircraftStat}}</td>
    <td>{{playerDataTotals.aircraftTotals[aircraftStat] | secondsToTime}}</td>
  </tr>
</table>

<h3>Kills</h3><button type="button" value="hide" (click)="toggleKills()">{{killsButton}}</button>
<table *ngIf="showKills">
  <tr *ngFor="let killsStat of playerDataTotals.killsTotalsKeys">
    <td>{{killsStat}}</td>
    <td>{{playerDataTotals.killsTotals[killsStat]}}</td>
  </tr>
</table>

<h3>Weapons</h3><button type="button" value="hide" (click)="toggleWeapons()">{{weaponsButton}}</button>
<table *ngIf="showWeapons">
  <tr *ngFor="let wepStat of playerDataTotals.weaponsTotalsKeys">
    <td *ngIf="playerDataTotals.weaponsTotals[wepStat] != null">{{wepStat}}</td>
    <td *ngIf="playerDataTotals.weaponsTotals[wepStat] != null">{{playerDataTotals.weaponsTotals[wepStat]}}</td>
  </tr>
</table>
