<span *ngIf="aliasCount > 0">
  <p><b>{{pilot.player.name}}</b> has also flown under the alias(es):</p>
  <ul>
    <li *ngFor="let alias of pilot.player.aliases">{{alias}}</li>
  </ul>
</span>

<span *ngIf="aliasCount === 0">
  <p><b>{{pilot.player.name}}</b> has no known aliases.</p>
</span>

<h3>Losses</h3>
<table>
  <tr *ngFor="let lossKey of pilot.lossesKeys">
    <td>{{lossKey}}</td>
    <td>{{pilot.losses[lossKey]}}</td>
  </tr>
</table>

<h3>Aircraft</h3>
<table>
  <tr *ngFor="let aircraftStat of pilot.aircraftKeys">
    <td>{{aircraftStat}}</td>
    <td>{{pilot.aircraft[aircraftStat] | secondsToTime}}</td>
  </tr>
</table>

<h3>Kills</h3>
<table>
  <tr *ngFor="let killsStat of pilot.killsKeys">
    <td>{{killsStat}}</td>
    <td>{{pilot.kills[killsStat]}}</td>
  </tr>
</table>

<h3>Weapons</h3>
<table>
  <tr *ngFor="let wepStat of pilot.weaponsKeys">
    <td>{{wepStat}}</td>
    <td>{{pilot.weapons[wepStat]}}</td>
  </tr>
</table>
