.showDetails {
  font-size: 13px;
}

a {
  font-weight: 600;
  color: black;
}

.allPilotLists, .searchResultList {
  display: table;
}

.pilotName p {
  margin-top: 2px;
  margin-bottom: 2px;
  display: table-row;
}

.aliases .pilotName {
  margin-left: 40px;
}
