<h4><label for="search-box">Pilot Search</label></h4>

<input #searchBox id="search-box" (input)="search(searchBox.value)" /><br><br>
<p class="showDetails">Click a pilot name to show more details</p>
<!-- Initial list -->
<p *ngIf="allPilots.length === 0">Retrieving Pilots, one sec!</p>
<div class="allPilotLists">
  <div *ngIf="!isSearching" class="pilotName">
    <div *ngFor="let pilot of allPilots">
      <a href="/pilot/{{pilot.player.uID}}">{{pilot.player.name}}</a>
    </div>
  </div>


  <!-- List shown when searching -->
  <div class="searchResultList" *ngIf="isSearching">
    <div class="pilotName" *ngFor="let pilot of pilots$ | async">
        <a href="/pilot/{{pilot.player.uID}}">{{pilot.player.name}}</a><br>
        <div class="aliases">
          <div class="pilotName" *ngFor="let alias of pilot.player.aliases">
            <p>{{alias}}</p>
          </div>
        </div>
    </div>
  </div>
</div>
